body{
    background-color:rgb(113, 185, 83);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.special{
    font-size: 50px;
    color: black;
    font-weight: bold;
    text-align: center;
}

.image{
    padding: 20px;
    width: 500px;
}
.liststuff{
    color: white;
}

a{
    color:rgb(4, 115, 24);
}
.tableauPlaceholder{
    size: 10%;
    height: 100px;
    
}
.bottom{
    text-align: center;
    padding: 5px;
    margin: 3px;
    bottom: 3px;
}

.para{
    font-family:Georgia, 'Times New Roman', Times, serif;
    color: black;
    text-align: justify;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 20px;
}


